table {
	width: 600px;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
.char-page {
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(170,101,0,1) 44%, rgba(255,151,0,1) 76%);
}

.char-title {
    margin-bottom: 10px;
    color: #F19738;
    font-size: 100px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.char-plot{
    color: white;
    background-color: black;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.char-acticle{
    color: white;
    text-decoration: none; /* no underline */
    color: #F19738;
}

.char-plot {
    color: white;
    background-color: black;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.char-acrticle {
    color: white;
    text-decoration: none; /* no underline */
    color: #F19738;
}

.height_100pr {
    height: 100%;
}
